.tree_CollapsibleTree .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tree_CollapsibleTree .node text {
  font-size: 11px;
}

.tree_CollapsibleTree path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
